<div class="container-fluid header">
     <div class="container">
       <header>
            <div class="row py-5">
               
                 <div class="col-1">
                      <img style="margin-top: -13px;" height="100%" width="60px" src="https://image.shutterstock.com/image-vector/white-vector-shape-triangle-form-260nw-1611775552.jpg" alt="">
                 </div>
                 <div class="col-5" style="margin-top: 14px;">
                      <div class="search">
                           <input  width="100%" type="search" name="" id="">
                           <button class="btn btn-sucess search-btn">Tìm</button>
                      </div>
                 </div>
                 <div class="col-6 ">
                      <div class="nav-bar">
                           <ul class="list-menu ">
                                <li><a routerLink="">Home</a></li>
                                <li><a routerLink="/product">Product</a></li>
                                <li><a routerLink="">Contact</a></li>
                                <li><a routerLink="">About</a></li>
                                <li><a routerLink="">Page</a></li>
                           </ul>
                      </div>
                 </div>

       </div>
       </header>
      
     </div>
  </div>