
<h2  style="margin-bottom: 20px;">Thêm mới sản phẩm</h2>
<div class="mb-3">
     <label for="" class="form-label">Tên sản phẩm</label>
     <input type="text" class="form-control" id="" >
</div>
<div class="mb-3">
     <label for="" class="form-label">Ảnh</label>
     <input type="file" class="form-control" id="" placeholder="Another input placeholder">
</div>
<div class="mb-3">
     <label for="" class="form-label">Giá sản phẩm</label>
     <input type="text" class="form-control" id="" >
</div>
<div class="mb-3">
     <label for="" class="form-label">Trạng thái:</label><br>
     <input type="radio" name="status" id="">     Còn hàng
     <input type="radio" name="status" id="">     Hết hàng
</div>
<button class="btn btn-success">Thêm</button>
