
            <!-- begin main -->
          <div class="container mt-5 ">
               <!-- main -content -product -->
               <div class="row">
                    <div class="col-6">
                         <!-- map -->
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8638558814587!2d105.74459841533215!3d21.038132792833153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1648996650478!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-6  product-info">
                         <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
                         <form class="row g-3">
                              <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail4">
                              </div>
                              <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                              </div>
                              <div class="col-12">
                                <label for="inputAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                              </div>
                              <div class="col-12">
                                <label for="inputAddress2" class="form-label">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                              </div>
                              <div class="col-12">
                                   <label for="inputAddress2" class="form-label">Lời nhắn</label>
                                   <textarea name="" id="" style="width:100%"></textarea>
                              </div>                          
                              <div class="col-12">
                                   <button type="submit" class="btn btn-primary">Gửi</button>
                              </div>
                            </form>
                         
                         
                    </div>
               </div>

               <hr>

               <!-- main desc - commet - info -->
               


               <!-- main - product-similar -->
               



          </div>
          <div class="container-fluid p-0 form-contact">
               <div class="main-item main-item-7 py-5" >
                    <div class="container">                                                                 
                         <div class="row">
                              <div class="col-6">
                                   <h2 style="font-family: 'Courier New', Courier, monospace; font-weight: 800;">Tư vấn mua hàng</h2>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora illum porro commodi! Qui praesentium architecto quos culpa aliquid dignissimos neque officia quasi, id perferendis accusamus aliquam nesciunt temporibus mollitia ipsum.</p>
                                   <button class="btn btn-danger">Xem chi tiết</button>
                              </div>
                         </div><br>
                         <div class="row">
                              <div class="col-6">
                                   <p >Đăng ký nhận thông tin từ chúng tôi</p><br>
                                   <form action="" method="post">
                                        <input   class="email shadow" height="40px" width="380px" type="email" name="" id="" placeholder="email...">
                                        <input class="input-submit" type="submit" value="Đăng ký">
                                   </form>
                              </div>
                         </div>
                    </div>
               </div>
          </div>


       