* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root {
     --bg : #000;
     --font : 20px;
     --cl-text : #fff;
}
/*  header */
header {
     background-color: var(--bg);
     height: 100%;
    
}
.header {
     /* background-color: var(--bg); */
     background-color: #000;
     color: #fff;
}
.list-menu li {
     display: inline-block;
     margin-left: 50px;
     line-height: 64px;
}

.list-menu li a {
     color: var(--cl-text);
     text-decoration: none;
     font-size: var(--font); 
}

.list-menu li a:hover {
     opacity: 0.7;
}

.search input {
     margin-left: 30px;
     width: 80%;
     height: 38px;
     border-radius: 5px;
     margin-right: 10px;
}

.search-btn{
     margin-bottom: 4px;
     background-color: red;
}

.input {
     align-items: center;
}