<div class="container-fluid header">
     <div class="container">
       <header>
            <div class="row py-5">
               
                 <div class="col-1">
                      <img style="margin-top: -13px;" height="100%" width="60px" src="https://image.shutterstock.com/image-vector/white-vector-shape-triangle-form-260nw-1611775552.jpg" alt="">
                 </div>
                 <div class="col-5" style="margin-top: 14px;">
                      <div class="search">
                         <form  [formGroup]="formInput">
                              <div style="display: none;"><app-search [formField]="formInput" (resultSearch)="result()" ></app-search></div>
                              <input  width="100%" type="search" name="search" id=""  formControlName="ProductValueSearch" >
                              <button type="submit" class="btn btn-sucess search-btn" (click)="submit(formInput.value)">Tìm</button>
                         </form>
                      </div>
                 </div>
                 <div class="col-6 ">
                      <div class="nav-bar">
                           <ul class="list-menu ">
                                <li><a routerLink="">Home</a></li>
                                <li><a routerLink="/product">Product</a></li>
                                <li><a routerLink="/contact">Contact</a></li>
                                <li><a routerLink="/about">About</a></li>
                                <li><a routerLink="/page">Page</a></li>
                           </ul>
                      </div>
                 </div>

       </div>
       </header>
      
     </div>
  </div>