<h2 style="margin-bottom: 20px;">Form chỉnh sửa</h2>
<form class="row g-3">
     <div class="col-md-6">
       <label for="inputEmail4" class="form-label">Tên sản phẩm</label>
       <input type="text" class="form-control" id="inputEmail4">
     </div>
     <div class="col-md-6">
       <label for="inputPassword4" class="form-label">Ảnh đại diện</label>
       <input type="file" class="form-control" id="inputPassword4">
     </div>
     <div class="col-12">
       <label for="inputAddress" class="form-label">Giá sản phẩm</label>
       <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
     </div>
     <div class="col-12">
       <label for="inputAddress2" class="form-label">Trạng thái</label><br>
        <input type="radio" name="status" id="">  Còn hàng
        <input type="radio" name="status" id="">  Hết hàng
      </div>
     <div class="col-12">
       <button type="submit" class="btn btn-primary">Cập nhập</button>
     </div>
   </form>