<h2 style="margin-bottom: 20px;">List product</h2>
<div class="row">
     <div class="col-11">

     </div>
     <div class="col-1">
          <button class="btn-success">
            <a style="text-decoration: none; font-weight: 600; color: #fff;" routerLink="add">Thêm</a>
          </button>
     </div>
</div>
<table class="table" >
     <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Ảnh</th>
         <th scope="col">Tên sản phẩm</th>
         <th scope="col">Giá</th>
         <th scope="col">Trạng thái</th>
         <th scope="col">Xóa</th>
         <th scope="col">Sửa</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let p of products">
         <th scope="row">{{p.id}}</th>
         <td><img width="100px" [src]="p.avatar" alt=""></td>
         <td>{{p.name}}</td>
         <td>{{p.price}}</td>
         <td> 
          <app-status [status]="p.status"
          (changeStatus)="parentChangeStatus($event, p.id)"></app-status>
       </td>
         <td><button class="btn btn-danger"   (click)="delete(p.id)" (click)="ConfirmDelete()">Xóa</button></td>
         <td><button class="btn btn-warning">
           <a [routerLink]="[ p.id  , 'edit']" style="text-decoration: none; color: #000; font-weight: 600;" >Chỉnh sửa</a>
          </button></td>
       </tr>
       
     </tbody>
   </table>