*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
footer {
     margin-top: -70px;
     background-color: rgb(15, 14, 14);
     height: 200px;
}


.text-desc {
     margin-bottom: 500px;
     font-size: 30px;
}